<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.example.covidSafety">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.example.covidsafety.IntroActivity"
            android:exported="true" />
        <activity android:name=".covidsafety.LoginActivity" />
        <activity android:name="com.example.covidsafety.SlidingPages" />
        <activity
            android:name="com.example.covidsafety.BrowserActivities"
            android:screenOrientation="portrait"
            android:theme="@style/darkTheme" />
        <activity
            android:name="com.example.covidsafety.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.covidsafety.QuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".covidsafety.Scanner"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.example.covidsafety.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.covidsafety.RegisterActivity"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>